{% extends "layout.html" %}
{% load static %}

{% block content %}






    <div class="row justify-content-center p-3 px-md-4 mb-3 text-center">
  <div class="col">
    <div class="card border-0">
        <img src="{{'static/img/motokurye.png' }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-color">VIP Motor Kurye</h5>
        <p class="card-text">Özel günlerde veya kişiye özel hediye, çiçek, ve benzeri siparişlerinizi VIP motor kuryemiz sayesinde hızlıca adrese teslim yollayabilirsiniz.
        <li>
          Tahmini teslim süresi <label class="font-weight-bold">max 60dk</label>
      </li>
        </p>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-0">
        <img src="{{'static/img/ofisdokuman.png' }}" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title text-color">Acil Motor Kurye</h5>
          <p class="card-text">Ofis dökümanları ve acilen yetişmesi gereken önemli belgeleri acil motor kurye servisimiz ile gitmesi gereken adrese hızlıca yetiştirebilirsiniz.
           <li>
          Tahmini teslim süresi <label class="font-weight-bold">max 60dk</label>
      </li>
          </p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card border-0">
        <img src="{{'static/img/kargobox1.png' }}" class="card-img-top ">
      <div class="card-body">
        <h5 class="card-title text-color">Arabalı Kurye</h5>
        <p class="card-text">50 kilograma kadar olan paketlerinizi kurye aracımız sayesinde aynı gün içerisinde dilediğiniz adrese yollayabilirsiniz.
        <li>
          Tahmini teslim süresi <label class="font-weight-bold">max 90dk</label>
      </li>
        </p>
      </div>
    </div>
  </div>
</div>

     <div class="mb-auto">
        <h3 class="modal-header text-left text-color">Siparişleriniz için</h3>
        <div class="inner">
                <div class="row m-md-3 text-body" style="border-radius: 5px">
                    <div class="col m-md-3 card border-0" style="background: #f8f9fb">
                        <p class="font-weight-bold m-auto text-color-secondary"> Fikret Kurt</p>
                        <p class="font-weight-normal m-auto">+90 (0533) 924 17 04</p>
                    </div>
                    <div class="col m-md-3 card border-0" style="background: #f8f9fb">
                        <p class="font-weight-bold m-auto text-color-secondary"> Burak Kurt</p>
                        <p class="font-weight-normal m-auto">+90 (0537) 734 34 73</p>
                    </div>
                    <div class="col m-md-3 card border-0" style="background: #f8f9fb">
                        <p class="font-weight-bold m-auto text-color-secondary"> Melih Ceylan</p>
                        <p class="font-weight-normal m-auto">+90 (0545) 539 64 09</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}